    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,100;1,900&family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400&display=swap');
        body{
            margin: 0px;
            padding: 0px;
            min-width: 1100px;
            font-family: "Montserrat", italic;
    }
        .min-div{

            margin-left: 20px;
        }
        .center{
            margin-left: auto; margin-right: auto; 
            text-align: center;
    }
        #top-card{
            background-color: #112b41;
            color: #FFFFFF;
            padding: 30px;
            line-height: 5px; 
            font-family: "Montserrat", italic;
            font-weight: 600;
    }
        #rob-image{
            height: 200px;
            margin-top: 20px;
            margin-left: 5;
            margin-bottom: 0px;
            padding: 10px;
            background-clip: padding-box;
            background-color: #9FB3C8;
        }
        .table-heads{
            background-color: #9FB3C8;
    }
        .table-cells{
            background-color: #F0F4F8;
    }
        .bottom-rectangle {
            height: 100px;
            width: 100%;
            background-color: #9FB3C8;
    }
        #bottom-name{
            margin-bottom: -12px;
            text-align: center;
            color: #9FB3C8;
        }
        .quotes-left{
            border-left: 8px solid #DA4A91;
            height: 100;
            width: 300px;
            margin-left: 20px;
            padding: 5px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
        .quotes-right{
            border-right: 8px solid #DA4A91;
            height: 100;
            width: 300px;
            margin-left: 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
        q:before,:after{
            color: gray
        }
        .font-roboto{
            font-family: "Roboto", sans-serif;
        }
        h1{
            font-family: "Montserrat", italic;
        }
        td, tr{
            border-bottom: 1px solid #9FB3C8;
            font-family: "Roboto", sans-serif;
        }
        li{
            font-family: "Roboto", sans-serif;
        }